.goods-detail.mat-mdc-card {
  max-width: 900px;
  width: 100%;
  margin: 30px auto;
  display: block;
  background-color: #fff;
}
.goods-detail.mat-mdc-card .pngline {
  padding: 30px 0;
}
.goods-detail.mat-mdc-card .pngline img {
  display: block;
  margin: auto;
}
.goods-detail.mat-mdc-card .desc {
  font-size: 18px;
  line-height: 40px;
  padding: 30px;
}
.price {
  font-size: 30px;
  line-height: 120px;
  font-weight: bold;
}
